body{
    box-sizing: border-box;
    font-family:'Noto Sans', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    flex-grow: 1;
    max-width: 90%;
    margin: 0 auto;
}

/** HEADER STYLES **/

header{
    background-color: #afe484;
    border-bottom: #382903 solid 4px;
    padding: 1em 0;
}

#headercontent{
    max-width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: auto;
}

#headertext{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: auto;
}

h1{
    font-family: 'Carter One', serif;
    font-size: 1.5em;
    color: #382903;
    display: inline-block;
    margin: auto;
}

#treelogo{
    max-width: 20%;
    display: inline-block;
}

.profbtn{
    background-color: #382903;
    color: #afe484;
    text-decoration: none;
    padding: 0.5em;
    border-radius: 15%;
    display: inline-block;
    margin: 0.5em auto;
}

/**QUIZ PAGE CONTENT STYLES**/

/**PROFILES PAGE CONTENT STYLES**/

h2{
    margin-bottom: 0;
    text-align: center;
}

.bios{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

section{
    flex-grow: 1;
    flex-basis: 300px;
    max-width: 500px;
    margin: 0 auto;
}

h3{
    text-align: center;
}

.profimg{
    max-width:80%;
    border-radius: 15%;
    border: 1em solid #382903;
    margin: auto;
    display: block;
}

.bio{
    display: block;
    max-width: 90%;
    margin: auto;
}

section:target{
    border: 0.5em solid #afe484;
    border-radius: 10%;
}


/**FOOTER STYLES**/
footer{
    background-color: #afe484;
    border-top: #382903 solid 4px;
    padding: 0.2em;
    color: #382903;
    text-align: right;
    margin-top: 1em;
}

/**RESPONSIVE DESIGN**/

@media screen and (min-width: 400px){
    h1{
        font-size: 2em;
    }
}

@media screen and (min-width: 700px){
    h1{
        font-size: 3em;
    }
    
    #headercontent{
        max-width:700px;
    }
}