/**BASE STYLES**/

body{
    box-sizing: border-box;
    font-family:'Noto Sans', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    flex-grow: 1;
    max-width: 90%;
    margin: 0 auto;
}

/** HEADER STYLES **/

header{
    background-color: #afe484;
    border-bottom: #382903 solid 4px;
    padding: 1em 0;
}

#headercontent{
    max-width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: auto;
}

#headertext{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: auto;
}

h1{
    font-family: 'Carter One', serif;
    font-size: 1.5em;
    color: #382903;
    display: inline-block;
    margin: auto;
}

#treelogo{
    max-width: 20%;
    display: inline-block;
}

.profbtn{
    background-color: #382903;
    color: #afe484;
    text-decoration: none;
    padding: 0.5em;
    border-radius: 15%;
    display: inline-block;
    margin: 0.5em auto;
}

/**QUIZ PAGE CONTENT STYLES**/

#issuebox{
    display: block;
    border: 0.5em solid #afe484;
    border-radius: 5%;
    margin: 1em;
    padding: 1em;
}

h4{
    margin-top: 0;
    margin-bottom: 0.5em;
    font-size: 1.25em;
    line-height: 1.15;
    text-align: center;
}

li{
    list-style: none;
    padding: 0.2em;
}

h5{
    display: inline;
    font-size: 1.25em;
}

#submitbtn{
    text-align: center;
    display: block;
    margin: auto;
    padding: 0.5em;
    background-color: #afe484;
    color: #382903;
    font-weight: bold;
    border: 2px solid #382903;
    border-radius: 10%;
}

/**SUGGESTION CONTENT AFTER CLICK**/

#suggestion{
    display: none;
    border: 0.5em solid #afe484;
    border-radius: 10%;
    margin: 1em;
    padding: 1em;
}

h6{
    font-size: 1em;
    text-align: center;
    text-decoration: underline;
    margin: 0.5em;
    color: black;
}

#highlight{
    background-color: #afe484;
}

/**PROFILES PAGE CONTENT STYLES**/

h2{
    margin-bottom: 0;
    text-align: center;
}

.bios{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

section{
    flex-grow: 1;
    flex-basis: 300px;
    max-width: 500px;
    margin: 0 auto;
}

h3{
    text-align: center;
}

.profimg{
    max-width:80%;
    border-radius: 15%;
    border: 1em solid #382903;
    margin: auto;
    display: block;
}

.bio{
    display: block;
    max-width: 90%;
    margin: auto;
    padding-top: 1em;
}

section:target{
    border: 0.5em solid #afe484;
    border-radius: 10%;
}

/**FOOTER STYLES**/
footer{
    background-color: #afe484;
    border-top: #382903 solid 4px;
    padding: 0.2em;
    color: #382903;
    text-align: right;
    margin-top: 1em;
}

footer p{
    margin-right: 1.5em;
}

/**RESPONSIVE DESIGN**/

@media screen and (min-width: 400px){
    h1{
        font-size: 2em;
    }
}

@media screen and (min-width: 700px){
    h1{
        font-size: 3em;
    }
    
    #headercontent{
        max-width:700px;
    }
}